#TopPan, #BottomPan {
    font-size: smaller;
    max-width: 640px;
  }
  @media only screen and (min-width: 640px) {
    #TopPan, #BottomPan {
      font-size: medium;
    }
  }
  @media only screen and (min-width: 780px) {
    #TopPan, #BottomPan {
      font-size: smaller;
    }
  }
  @media only screen and (min-width: 1100px) {
    #TopPan, #BottomPan {
      font-size: medium;
    }
  }
  @media only screen and (min-width: 1220px) {
    #TopPan, #BottomPan {
      font-size: larger;
    }
  }

  .ddt {
    display: flex;
    align-items: stretch !important;
    flex-direction: column;
    margin-top: 5rem !important;
    justify-content: center;
  }
  /* media  */
  /* .ddt > * {
    display: flex;
    flex-direction: column;
  } */
  #TopPan {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    width: 100%;
  }
  #BottomPan {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    width: 100%;
  }
  .ProfCol {
    color: white;
    display: flex;
    flex-grow: 9;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

  }
  .TopLink .ProfCol, .TopLink .pcontrs {
    flex-direction: column-reverse;
  }
  .TopLink .line {
    border-radius: 5pt;
  }
  .line {
    background-image: url('/img/backgammons/boardlot.png');
    background-size: 100% 100%;
  /*   -webkit-background-size: cover;
  //   -moz-background-size: cover;
  //   -o-background-size: cover;
  //   background-size: cover;*/
  }
  #TopPan .pcontrs {
    margin-left: 1em;
  }
  .TopLink .timer {
    background: linear-gradient(180deg, #295788 0%, #295788 43%, rgba(126, 37, 81, 0) 97%);
  }
  .BottomLink .timer {
    background: linear-gradient(1deg, #295788 0%, #295788 43%, rgba(126, 37, 81, 0) 97%);
  }
  #TopPan .pcontrs .buttons {
    background-color: #572351;
  }
  #TopPan .pcontrs .buttons > * {
  }
  #BottomPan .pcontrs .buttons > * {
    background-color: #a8dcae;
    margin: 1em;
    width: 5em;
    height: 5em;
  }
  #TopPan .pcontrs .buttons {
    margin-left: 0.3em;
  }
  #BottomPan .pcontrs .buttons {
    margin-right: 0.3em;
  }
  #BottomPan .pcontrs {
    margin-right: 1rem;
    align-items: flex-end;
  }
  .timer {
    width: 60%;
    text-align: center;
    font-size: 2.75em;
    background: rgb(52,79,195);
    color: white;
  }
  .prof {
    display: flex;
    flex-direction: row;
    padding: 1em;
    background-color: #572351;
    border-radius: 9pt;
    width: 100%;
  }
  .profrows {
    display: flex;
    flex-direction: column;
    margin-left: 1em;
    margin-right: 1em;
  }
  .profrows .Nickname {
    flex-grow: 1;
    font-size: 2em;
  }
  .pcontrs {
    display: flex;
    flex-grow: 7;
    flex-direction: column;
    justify-content: flex-end;
    align-content: center;
    align-items: flex-start;
  }
  .pcontrs .buttons {
    display: flex;
    flex-direction: row;
    border-radius: 6pt;
    /* background-color: #a8dcae; */
  }
  .buttons > * {
    margin-left: 0.25em;
    margin-right: 0.25em;
    width: 4em;
    height: 4em;
    /* background-color: #572351; */
    /* background-color: #a8dcae; */
    border-radius: 6pt;
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center center;
    filter:invert(1);
  }
  .pcontrs .line {
  /*   background-color: #ac964b; */
    width: 100%;
    height: 3.2em;
    border-top-left-radius: 5pt;
    border-top-right-radius: 5pt;
    display: flex;
    width: 100%;
  }
  .line > * {
    height: 100%;
    padding: 0.65em;
  }
  .autostep.active {
    background-color: yellow
  }
  .line > .dp::after {
    content: ' ';
    width: 100%;
    height: 100%;
    display: block;
    background-color: #951743;
    border-radius: 7pt;
  }
  .turkeyFlag {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url('/img/tr-lang.png');
    display: inline-block;
    min-width: 1em;
    height: 1em;
  }
  .ddt.horize {
    flex-direction: row;
  }
  .rightcol {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    /* margin-left: 1rem; */
    max-width: 640px;
  }
  .tabspaces {
    flex-grow: 1;
  }
  .domino-game-page__body-wrapper, .ddt, .domino-game-page__body-wrapper.ddt {
    margin-left: 0!important;
    margin-right: 0!important;
  }
  .ddt {
    margin-top: 0px!important;
  }
  .stimer {                         
      position: absolute;
      width: 4.1rem;
      height: 4.1rem;
      display: table-cell;
      text-align: center;
      line-height: 4.1rem;
      background-color: #282b30cc;
      font-size: 2.89rem;
  }
  .stimer.red {
    background-color: #c34722cc!important;
  }