.profrows {
    /*display: flex;*/
    align-items: center;
    /*line-height: 15px; !* высота равна высоте картинки *!*/
}

.nickname-container {
    /*display: flex;*/
    align-items: center;
    margin-right: 15px;
}

.Nickname {
    margin-right: 10px;
}

/* styles.css */
.right-float {
    float: right;
}

.right-float-image {
    margin-left: 10px; /* или padding-left: 10px; */
}

